$fondo: verde;

.fondo_verde{

    @if $fondo == verde{
        background-color: #191919;
        display: grid;
        place-content: center;
        background: radial-gradient(circle, rgb(27, 207, 108), rgb(94, 192, 48),);
    }
}

main{
    height: 1100px;
}
.nav{

    align-items: center;

    display: flex;

    justify-content: space-between;

    background-color: chocolate;

    width: 1890px;

}

.nav-list{

    align-self: flex-start;

    list-style: none;

    display: flex;

    justify-content: center;

    width: 100%;
}

.nav-link{

    text-decoration: none;

    color: #000;

    font-size: 24px;

    padding: 15px;

    font-weight: bold;

}

.titulo_plants{

    @include flex(center, center, none, none);
    color: transparent;
    background: linear-gradient(45deg, rgb(211, 158, 13), rgb(214, 37, 10));
    background-clip: text;
    transition: 2s;

}

.plantas_fuertes{

    @include flex(center, center, row, none);
}

.el_roble{

    border-radius: 35px;
}

.parrafo_roble{

    color: transparent;
    background: linear-gradient(45deg, rgb(194, 64, 12), rgba(121, 83, 12, 0.726));
    background-clip: text;

    &:hover{
        background: linear-gradient(95deg, rgba(121, 83, 12, 0.726), rgb(194, 64, 12) );
        background-clip: text;
    }
}

.cabeza_del_tronco{

    animation-name: cabeza_del_tronco_animacion;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-duration: 8s;
    object-fit: cover;
    height: 100px;
    width: 100px;
}

@keyframes cabeza_del_tronco_animacion{

    0% {
            
        transform: translate(0px, 0px);
      
    }

    25% {
            
        transform: translate(400px, 0px);
      
    }

    50% {
            
        transform: translate(0px, 0px);
      
    }

    75% {
            
        transform: translate(400px, 0px);
      
    }

    100% {
            
        transform: translate(0px, 0px);
      
    }
}

.footer_roble{
    background: radial-gradient(circle, rgb(9, 160, 9), rgb(19, 168, 131));
    width: 100%;
    height: 80px;
    text-align: center;
    @include flex(center, center, none, none)
}

@media (max-width: 500px){
    $fondo: verde;

    img

.fondo_verde{

    @if $fondo == verde{
        background-color: #191919;
        display: grid;
        place-content: center;
        background: radial-gradient(circle, rgb(27, 207, 108), rgb(94, 192, 48),);
    }
}


.nav{

    align-items: center;

    display: flex;

    justify-content: center;

    background-color: chocolate;

    width: 483px;

}

.nav-list{

    align-self: flex-start;

    list-style: none;

    display: flex;

    justify-content: center;

    width: 100%;
}

.nav-link{

    text-decoration: none;

    color: #000;

    font-size: 24px;

    padding: 15px;

    font-weight: bold;

    text-align: center

}

.titulo_plants{

    @include flex(center, center, none, none);
    color: transparent;
    background: linear-gradient(45deg, rgb(211, 158, 13), rgb(214, 37, 10));
    background-clip: text;
    transition: 2s;
    font-size: 45px;

}

.plantas_fuertes{

    @include flex(center, center, column, none);
}

.el_roble{

    border-radius: 35px;
    height: 400px;
    width: 400px;
}

.parrafo_roble{

    color: transparent;
    background: linear-gradient(45deg, rgb(194, 64, 12), rgba(121, 83, 12, 0.726));
    background-clip: text;
    width: 60%;
    font-size: 35px;

    &:hover{
        background: linear-gradient(95deg, rgba(121, 83, 12, 0.726), rgb(194, 64, 12) );
        background-clip: text;
 
    }
}

.cabeza_del_tronco{

    animation-name: cabeza_del_tronco_animacion;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-duration: 8s;
    object-fit: cover;
    height: 20%;
    width: 20%;
}

@keyframes cabeza_del_tronco_animacion{

    0% {
            
        transform: translate(0px, 0px) scale(0.6);
        
    }

    25% {
            
        transform: translate(325px, 0px) scale(0.6);
      
    }

    50% {
            
        transform: translate(0px, 0px) scale(0.6);
        
    }

    75% {
            
        transform: translate(325px, 0px) scale(0.6);
      
    }

    100% {
            
        transform: translate(0px, 0px) scale(0.6);
      
    }
}

.menu_roble{
    height: 1100px;
}



}
