$fondo: azul;

.fondo_azul{
    @if $fondo == azul{
        background-color: #191919;
        display: grid;
        background: radial-gradient(circle, rgb(48, 187, 192), rgb(30, 27, 207));
    }
}

.nav_final{

    align-items: center;

    display: flex;

    justify-content: space-between;

    background-color: rgb(192, 210, 30);

    width: 1890px;

    border-radius: 15px;

}

.nav-list_final{

    align-self: flex-start;

    list-style: none;

    display: flex;

    justify-content: center;

    width: 100%;
}

.nav-link{

    text-decoration: none;

    color: #000;

    font-size: 24px;

    padding: 15px;

    font-weight: bold;

}

.menu_peluches{

    @include flex(center, center, column, none);

    height: 1800px
}

.titulo_peluches{
    @include flex(center, center, none, none);

    color: transparent;

    background: linear-gradient(45deg, rgb(250, 250, 249), rgb(134, 134, 132));

    background-clip: text;
}

.contenedor_de_imagenes_peluches{

    @include flex(center, center, none, none);

    display: flex;

    flex-direction: column;

    object-fit: cover;


}

.contenedor_de_imagenes_peluches img{

    display: flex;

    border-radius: 120px;

    width: 600px;

    height: 600px;

    transition: 1s;

    &:hover{
        width: 670px;
        height: 670px;
    }

    
}

.parrafo_peluche{
    color: transparent;

    background: linear-gradient(45deg, rgb(30, 255, 1), rgba(230, 255, 1, 0.726));

    background-clip: text;

    text-align: center;

    &:hover{
        background: linear-gradient(95deg, rgba(230, 255, 1, 0.726), rgb(30, 255, 1) );
        
        background-clip: text;
    }
}

.venta{
    display: flex;

    flex-direction: row;
}

.para_comprar{
    @include flex(center, center, none, none);

    display: flex;

    flex-direction: column;

    padding: 20px;

    border-radius: 20px;
}

.para_comprar img{
    border-radius: 20px;
}

.para_comprar a{
    background-color: blue;

    padding: 20PX;

    border-radius: 20px;

    color: greenyellow;

    text-decoration: none;

    transition: 1s;

    &:hover{
        background-color: aquamarine;

        color: #191919;
    }
}

.footer_index_5{
    background: radial-gradient(circle, rgb(1, 225, 241), rgb(3, 125, 134));

    width: 100%;

    height: 100px;

    align-items: center;

    display: flex;

    border-radius: 15px
}

.texto_footer_index_5{
    @include flex(end, end, none, none);

    color: transparent;

    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(0, 0, 0));

    background-clip: text;

    padding: 20px;

    position: relative;

    top: 30px;
    
    
}

.redes_index_5{
    display: flex;

    @include flex(flex-end, flex-end, row, none);

    position: relative;

    left: 1500px;

    top: 22px;

    gap: 20px

}

@media (max-width: 500px){
    .nav_final{

        align-items: center;
    
        display: flex;
    
        justify-content: center;
    
        background-color: rgb(192, 210, 30);
    
        width: 100%;
    
        border-radius: 15px;
    
    }
    
    .nav-list_final{
    
        align-self: center;
    
        list-style: none;
    
        display: flex;
    
        justify-content: center;
    
        width: 100%;
    }
    
    .nav-link{
    
        text-decoration: none;
    
        color: #000;
    
        font-size: 24px;
    
        padding: 15px;
    
        font-weight: bold;
    
    }
    
    .menu_peluches{
    
        @include flex(center, center, column, none);
    
        height: 3000px
    }
    
    .titulo_peluches{
        @include flex(center, center, none, none);
    
        color: transparent;
    
        background: linear-gradient(45deg, rgb(250, 250, 249), rgb(134, 134, 132));
    
        background-clip: text;

        font-size: 40px;
    }
    
    .contenedor_de_imagenes_peluches{
    
        @include flex(center, center, none, none);
    
        display: flex;
    
        flex-direction: column;
    
    
    }
    
    .contenedor_de_imagenes_peluches img{
    
        display: flex;
    
        border-radius: 120px;
    
        width: 400px;
    
        height: 400px;
    
        transition: 1s;
    
        &:hover{
            width: 430px;
            height: 410px;
        }
    
        
    }
    
    .parrafo_peluche{
        color: transparent;
    
        background: linear-gradient(45deg, rgb(30, 255, 1), rgba(230, 255, 1, 0.726));
    
        background-clip: text;
    
        text-align: center;

        font-size: 30px;

        width: 335px;

        height: 200px;
    
        &:hover{
            background: linear-gradient(95deg, rgba(230, 255, 1, 0.726), rgb(30, 255, 1) );
            
            background-clip: text;
        }
    }
    
    .venta{
        display: flex;
    
        flex-direction: column;
    }
    
    .para_comprar{
        @include flex(center, center, none, none);
    
        display: flex;
    
        flex-direction: column;
    
        padding: 20px;
    
        border-radius: 20px;
    }
    
    .para_comprar img{
        border-radius: 20px;
    }
    
    .para_comprar a{
        background-color: blue;
    
        padding: 20PX;
    
        border-radius: 20px;
    
        color: greenyellow;
    
        text-decoration: none;
    
        transition: 1s;
    
        &:hover{
            background-color: aquamarine;
    
            color: #191919;
        }
    }
    
    .footer_index_5{
        background: radial-gradient(circle, rgb(1, 225, 241), rgb(3, 125, 134));
    
        width: 100%;
    
        height: 100px;
    
        align-items: center;
    
        display: flex;
    
        border-radius: 15px
    }
    
    .texto_footer_index_5{
        @include flex(end, end, none, none);
    
        color: transparent;
    
        background: linear-gradient(45deg, rgb(0, 0, 0), rgb(0, 0, 0));
    
        background-clip: text;
    
        padding: 20px;
    
        position: relative;
    
        top: 30px;
        
        
    }
    
    .redes_index_5{
        display: flex;
    
        @include flex(flex-end, flex-end, row, none);
    
        position: relative;
    
        left: 80px;
    
        top: 25px;
    
        gap: 20px
    
    }
}