$fondo: marron;

.fondo_marron{

    @if $fondo == marron{
        background-color: #191919;
        display: grid;
        place-content: center;
        background: radial-gradient(circle, rgb(156, 82, 13), rgb(212, 166, 37),);
    }
}

main{
    height: 1100px;
}

.nav_boss{

    align-items: center;

    display: flex;

    justify-content: space-between;

    background-color: rgb(192, 210, 30);

    width: 100%;

}

.nav-list{

    align-self: flex-start;

    list-style: none;

    display: flex;

    justify-content: center;

    width: 100%;
}

.nav-link{

    text-decoration: none;

    color: #000;

    font-size: 24px;

    padding: 15px;

    font-weight: bold;

}

.titulo_de_los_jefes{
    @include flex(center, center, none, none);
    color: transparent;
    background: linear-gradient(45deg, rgb(212, 230, 55), rgb(94, 143, 4));
    background-clip: text;
}

.info_jefes{
    @include flex(center, center, column, none);
}

.all_bosses{
    width: 800px;
    height: 470px;
    border-radius: 30px;
    transition: 1s;

    &:hover{
        width: 870px;
        height: 550px;
    }
}

.contenedor_de_imagenes{

    display: flex;

    flex-direction: row;
}

.imagen_pequeña{
    animation-name: imagen_cabezas_animacion;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    position: relative;
    animation-duration: 3s;
    width: 200px;
    height: 200px;
}

@keyframes imagen_cabezas_animacion{

    0% {
            
        left: 0px; top: 0px;
      
    }

    50% {
            
        left: 0px; top: 300px;
      
    }


    100% {
            
        left: 0px; top: 0px;
      
    }



}

.parrafo_boss{

    color: transparent;
    background: linear-gradient(45deg, rgb(20, 116, 8), rgba(121, 12, 107, 0.726));
    background-clip: text;

    &:hover{
        background: linear-gradient(95deg, rgba(121, 12, 107, 0.726), rgb(20, 116, 8) );
        background-clip: text;
    }
}

.footer_boss{
    background: radial-gradient(circle, rgb(9, 160, 9), rgb(19, 168, 131));
    width: 100%;
    height: 80px;
    text-align: center;
    @include flex(center, center, none, none)
}

@media (max-width: 500px){

    $fondo: marron;

.fondo_marron{

    @if $fondo == marron{
        background-color: #191919;
        display: grid;
        place-content: center;
        background: radial-gradient(circle, rgb(156, 82, 13), rgb(212, 166, 37),);
    }
}

main{
    height: 1100px;
}

.nav_boss{

    align-items: center;

    display: flex;

    justify-content: center;

    background-color: rgb(192, 210, 30);

    width: 100%;

}

.nav-list{

    align-self: center;

    list-style: none;

    display: flex;

    justify-content: center;

    width: 100%;
}

.nav-link{

    text-decoration: none;

    color: #000;

    font-size: 24px;

    padding: 15px;

    font-weight: bold;

    text-align: center

}

.titulo_de_los_jefes{
    @include flex(center, center, none, none);
    color: transparent;
    background: linear-gradient(45deg, rgb(212, 230, 55), rgb(94, 143, 4));
    background-clip: text;
    font-size: 90px
}

.info_jefes{
    @include flex(center, center, column, none);
}

.all_bosses{
    width: 253px;
    height: 312px;
    border-radius: 30px;
    transition: 1s;

    &:hover{
        width: 253px;
        height: 312px;
    }
}

.contenedor_de_imagenes{

    display: flex;

    flex-direction: row;
}

.imagen_pequeña{
    animation-name: imagen_cabezas_animacion;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    position: relative;
    animation-duration: 3s;
    width: 110px;
    height: 200px;
}

@keyframes imagen_cabezas_animacion{

    0% {
            
        left: 0px; top: 0px;
        transform: scale(0.4);
      
    }

    50% {
            
        left: 0px; top: 300px;
        transform: scale(0.4);
    }


    100% {
            
        left: 0px; top: 0px;
        transform: scale(0.4);
    }



}

.parrafo_boss{

    color: transparent;
    background: linear-gradient(45deg, rgb(20, 116, 8), rgba(121, 12, 107, 0.726));
    background-clip: text;
    font-size: 20px;
    width: 370px;
    height: 300px;
    text-align: center;

    &:hover{
        background: linear-gradient(95deg, rgba(121, 12, 107, 0.726), rgb(20, 116, 8) );
        background-clip: text;
    }
}

.footer_boss{
    background: radial-gradient(circle, rgb(9, 160, 9), rgb(19, 168, 131));
    width: 100%;
    height: 80px;
    @include flex(center, center, none, none)
}

main{
    height: 800px;
}

}