$fondo: azul;

.fondo_azul{
    @if $fondo == azul{
        background-color: #191919;
        display: grid;
        place-content: center;
        background: radial-gradient(circle, rgb(48, 187, 192), rgb(30, 27, 207));
    }
}

// .nav-index_1{

//     align-items: center;

//     display: flex;

//     justify-content: center;

//     background-color: chocolate;

//     width: 100%;

// }

// .nav-list-index_1{

//     align-self: flex-start;

//     list-style: none;

//     display: flex;

//     justify-content: center;

//     width: 100%;
// }

// .nav-link-index_1{

//     text-decoration: none;

//     color: #000;

//     font-size: 24px;

//     padding: 15px;

//     font-weight: bold;

//     text-align: center

// }

.container{
    min-height: 100vh;
    max-height: 100%;
    height: 1440px;
    display: grid;
    place-content: center center;
    place-items: center;
}

.container h1{

    @include flex(center, center, none, none);

    display: flex;

}



h1{
    color: transparent;
    background: linear-gradient(45deg, rgb(194, 12, 43), rgb(201, 124, 201));
    background-clip: text;
    transition: 2s;
    
}


.btn-container{
    display: flex;
    align-items: center;
    gap: 10px;
    
a{
    text-decoration: none;
    font-size: 1.6rem;
 }

.zombi_pequeño_izquierda{

    height: 70px;
    width: 62px;
    animation-name: mini_cabeza_izquierda;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-duration: 8s;

}

.zombi_pequeño_derecha{

    height: 70px;
    width: 62px;
    animation-name: mini_cabeza_derecha;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-duration: 8s;

}


}

    @keyframes mini_cabeza_izquierda{


        100%{
            transform: rotate(360deg);
        }

    }

    @keyframes mini_cabeza_derecha{


        100%{
            transform: rotate(-360deg);
        }

    }
    
 


@each $key, $valor in $colores{
    .btn-#{$key}{
        background-color: $valor;
        padding: 10px;
        border-radius: 10px;
        transition: 0.4s;

        @if $key == light{
            color: #000;
            border: 4px solid darken($valor,20%);

            &:hover{
                background-color: darken($valor,20%);
            }

            
        } @else{
            color: #fff;
            border: 4px solid darken($valor,20%);

            &:hover{
                background-color: lighten($valor,20%);
            }
        }
    }
}

.cabeza_zombi{
    animation-name: cabeza_animacion;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-duration: 8s;
}


    @keyframes cabeza_animacion {

        0% {
        
                transform: rotate(720deg) ;
              
        }

        12% {
            
                transform: translate(100px, 0px);
              
        }

        25% {
            
            transform: rotate(720deg);
          
    }

        37% {
            
            transform: translate(0px, 0px);
          
        }

        49% {
            
            transform: rotate(720deg);
          
        }
        
        61% {
            
            transform: translate(-100px, 0px);
          
        } 

        73% {
            
            transform: rotate(720deg);
          
        }

        83% {
            
            transform: translate(0px, 0px);
          
        }

        100% {
            
            transform: rotate(720deg);
          
        }
        
    }

    .footer_index_1{
        background: radial-gradient(circle, rgb(48, 192, 55), rgb(27, 207, 162));
        width: 1900px;
        height: 160px;
        align-items: center;
        display: flex;
    }

    .texto_footer{
        @include flex(end, end, none, none);
        color: transparent;
        background: linear-gradient(45deg, rgb(224, 59, 9), rgb(231, 159, 4));
        background-clip: text;
        padding: 20px;
        position: relative;
        top: 50px;
        
        
    }

    .titulo-plantas{
        color: transparent;
        background: linear-gradient(45deg, rgb(201, 124, 201), rgb(194, 12, 43));
        background-clip: text;
        transition: 2s;
    }

    .redes{
        display: flex;
        @include flex(flex-end, flex-end, row, none);
        position: relative;
        left: 1550px;
        top: 50px;
        gap: 30px

    }

    .instagram{
        @include flex(flex-end, flex-end, row, none);
        width: 50px;
        height: 50px;
    }

    .twitter{
        @include flex(flex-end, flex-end, row, none);
        width: 50px;
        height: 50px;
    }

    .gato_pequeño_izquierda{

        height: 148px;
        width: 126px;
        animation-name: mini_cabeza_izquierda;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
        animation-duration: 8s;
    
    }

    .gato_pequeño_derecha{

        height: 148px;
        width: 126px;
        animation-name: mini_cabeza_derecha;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
        animation-duration: 8s;
    
    }



    .cabeza_planta{
        animation-name: cabeza_animacion_planta;
        animation-iteration-count: infinite;
        animation-timing-function: ease-out;
        animation-duration: 8s;
    }
    
    
        @keyframes cabeza_animacion_planta {
    
            0% {
            
                    transform: rotate(720deg);
                  
            }
    
            12% {
                
                    transform: translate(-100px, 0px);
                  
            }
    
            25% {
                
                transform: rotate(720deg);
              
        }
    
            37% {
                
                transform: translate(0px, 0px);
              
            }
    
            49% {
                
                transform: rotate(720deg);
              
            }
            
            61% {
                
                transform: translate(100px, 0px);
              
            } 
    
            73% {
                
                transform: rotate(720deg);
              
            }
    
            83% {
                
                transform: translate(0px, 0px);
              
            }
    
            100% {
                
                transform: rotate(720deg);
              
            }
            
        }

    

    @media (max-width: 500px){


        .footer{
            width: 473px;
            height: 100px;
        }

        // .nav-index_1{

        //     align-items: center;
        
        //     display: flex;
        
        //     justify-content: center;
        
        //     background-color: chocolate;
        
        //     width: 474px;
        
        // }

        // .nav-list-index_1{

        //     align-self: flex-start;
        
        //     list-style: none;
        
        //     display: flex;
        
        //     justify-content: center;
        
        //     width: 100%;
        // }
        
        // .nav-link-index_1{
        
        //     text-decoration: none;
        
        //     color: #000;
        
        //     font-size: 24px;
        
        //     padding: 15px;
        
        //     font-weight: bold;
        
        //     text-align: center
        
        // }


        @keyframes cabeza_animacion {

            0% {
            
                    transform: rotate(720deg) scale(0.6);
                  
            }
    
            12% {
                
                    transform: translate(100px, 0px) scale(0.6);
                  
            }
    
            25% {
                
                transform: rotate(720deg) scale(0.6);
              
        }
    
            37% {
                
                transform: translate(0px, 0px) scale(0.6);
              
            }
    
            49% {
                
                transform: rotate(720deg) scale(0.6);
              
            }
            
            61% {
                
                transform: translate(-100px, 0px) scale(0.6);
              
            } 
    
            73% {
                
                transform: rotate(720deg) scale(0.6);
              
            }
    
            83% {
                
                transform: translate(0px, 0px) scale(0.6);
              
            }
    
            100% {
                
                transform: rotate(720deg) scale(0.6);
              
            }
            
        }

        @keyframes cabeza_animacion_planta {
    
            0% {
            
                    transform: rotate(720deg) scale(0.7);
                  
            }
    
            12% {
                
                    transform: translate(-100px, 0px) scale(0.7);
                  
            }
    
            25% {
                
                transform: rotate(720deg) scale(0.7);
              
        }
    
            37% {
                
                transform: translate(0px, 0px) scale(0.7);
              
            }
    
            49% {
                
                transform: rotate(720deg) scale(0.7);
              
            }
            
            61% {
                
                transform: translate(100px, 0px) scale(0.7);
              
            } 
    
            73% {
                
                transform: rotate(720deg) scale(0.7);
              
            }
    
            83% {
                
                transform: translate(0px, 0px) scale(0.7);
              
            }
    
            100% {
                
                transform: rotate(720deg) scale(0.7);
              
            }
            
        }

        .gato_pequeño_izquierda{

            height: 100px;
            width: 72px;
            animation-name: mini_cabeza_izquierda;
            animation-iteration-count: infinite;
            animation-timing-function: ease-out;
            animation-duration: 8s;
        
        }

        .gato_pequeño_derecha{

            height: 100px;
            width: 72px;
            animation-name: mini_cabeza_derecha;
            animation-iteration-count: infinite;
            animation-timing-function: ease-out;
            animation-duration: 8s;
        
        }

        .footer_index_1{
            background: radial-gradient(circle, rgb(48, 192, 55), rgb(27, 207, 162));
            width: 100%;
            height: 160px;
            align-items: center;
            display: flex;
        }

        .redes{
            display: flex;
            @include flex(flex-end, flex-end, row, none);
            position: relative;
            left: 180px;
            top: 50px;
            gap: 20px
    
        }
    
        .instagram{
            @include flex(flex-end, flex-end, row, none);
            width: 30px;
            height: 30px;
        }
    
        .twitter{
            @include flex(flex-end, flex-end, row, none);
            width: 30px;
            height: 30px;
        }


    }


    
    



